<a href="https://colab.research.google.com/github/AudreyMuller/Recommandation_Films_1980_s/blob/Maria/Directors_with_names__2022_10_30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

## Read csv

In [2]:
df_ourmovies = pd.read_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/00_DATABASE_FINAL.csv', sep=',')

In [3]:
df_ourmovies.head()

,Unnamed: 0,Unnamed: 0.1,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,region,averageRating,numVotes,weight_average
0,292,292,tt0080684,Star Wars: Episode V - The Empire Strikes Back,The Empire Strikes Back,1980,124.0,"['Action', 'Adventure', 'Fantasy']",US,8.7,1282261.0,0.17131
1,3191,3191,tt0088763,Back to the Future,Back to the Future,1985,116.0,"['Adventure', 'Comedy', 'Sci-Fi']",US,8.5,1192861.0,0.15570
2,2261,2261,tt0086190,Star Wars: Episode VI - Return of the Jedi,Star Wars: Episode VI - Return of the Jedi,1983,131.0,"['Action', 'Adventure', 'Fantasy']",US,8.3,1046826.0,0.13342
3,592,592,tt0081505,The Shining,The Shining,1980,146.0,"['Drama', 'Horror']",US,8.4,1012330.0,0.13058
4,1129,1129,tt0082971,Indiana Jones and the Raiders of the Lost Ark,Raiders of the Lost Ark,1981,115.0,"['Action', 'Adventure']",US,8.4,960289.0,0.12387

In [4]:
Fusion_directors = pd.read_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/2022_10_26_Fusion_Directors_CREW.csv',sep=',')

In [5]:
Fusion_directors.head()

   directors       primaryName birthYear deathYear     tconst
0  nm0000005    Ingmar Bergman      1918      2007  tt0083922
1  nm0000019  Federico Fellini      1920      1993  tt0080539
2  nm0000019  Federico Fellini      1920      1993  tt0087188
3  nm0000019  Federico Fellini      1920      1993  tt0091113
4  nm0000019  Federico Fellini      1920      1993  tt0093267

## Merge Tables

In [6]:
directors_ourmovies = Fusion_directors.merge(df_ourmovies, how= 'right', on = 'tconst')
directors_ourmovies = pd.DataFrame(directors_ourmovies, columns = ['directors','primaryName','birthYear','deathYear','tconst','genres','primaryTitle','startYear','runtimeMinutes','averageRating','Weight'])

In [ ]:
print(directors_ourmovies.head(10).to_markdown())

|    | directors   | primaryName      |   birthYear | deathYear   | tconst    | genres                             | primaryTitle                                   |   startYear |   runtimeMinutes |   averageRating |      Weight |
|---:|:------------|:-----------------|------------:|:------------|:----------|:-----------------------------------|:-----------------------------------------------|------------:|-----------------:|----------------:|------------:|
|  0 | nm0449984   | Irvin Kershner   |        1923 | 2010        | tt0080684 | ['Action', 'Adventure', 'Fantasy'] | Star Wars: Episode V - The Empire Strikes Back |        1980 |              124 |             8.7 | 1.11543e+07 |
|  1 | nm0000709   | Robert Zemeckis  |        1951 | \N          | tt0088763 | ['Adventure', 'Comedy', 'Sci-Fi']  | Back to the Future                             |        1985 |              116 |             8.5 | 1.01378e+07 |
|  2 | nm0549658   | Richard Marquand |        1937 | 1987        | tt0086190 | ['Action', 'Adventure', 'Fantasy'] | Star Wars: Episode VI - Return of the Jedi     |        1983 |              131 |             8.3 | 8.68775e+06 |
|  3 | nm0000040   | Stanley Kubrick  |        1928 | 1999        | tt0081505 | ['Drama', 'Horror']                | The Shining                                    |        1980 |              146 |             8.4 | 8.50203e+06 |
|  4 | nm0000229   | Steven Spielberg |        1946 | \N          | tt0082971 | ['Action', 'Adventure']            | Indiana Jones and the Raiders of the Lost Ark  |        1981 |              115 |             8.4 | 8.06573e+06 |
|  5 | nm0001532   | John McTiernan   |        1951 | \N          | tt0095016 | ['Action', 'Thriller']             | Die Hard                                       |        1988 |              132 |             8.2 | 7.14568e+06 |
|  6 | nm0000116   | James Cameron    |        1954 | \N          | tt0088247 | ['Action', 'Sci-Fi']               | The Terminator                                 |        1984 |              107 |             8.1 | 6.96803e+06 |
|  7 | nm0000361   | Brian De Palma   |        1940 | \N          | tt0086250 | ['Crime', 'Drama']                 | Scarface                                       |        1983 |              170 |             8.3 | 6.92316e+06 |
|  8 | nm0000631   | Ridley Scott     |        1937 | \N          | tt0083658 | ['Action', 'Drama', 'Sci-Fi']      | Blade Runner                                   |        1982 |              117 |             8.1 | 6.19741e+06 |
|  9 | nm0000229   | Steven Spielberg |        1946 | \N          | tt0097576 | ['Action', 'Adventure']            | Indiana Jones and the Last Crusade             |        1989 |              127 |             8.2 | 6.15873e+06 |

In [7]:
directors_ourmovies.shape

(9819, 11)

## EXPORT CSV

In [8]:
directors_ourmovies.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/2022_10_30_DIRECTORS_with_names.csv',sep=',',index=False)