<a href="https://colab.research.google.com/github/AudreyMuller/Recommandation_Films_1980_s/blob/Maria/NEW_VERSION_of_merged_AKAS_BASICS_filtered_by_region_and_filtered_by_language_TO_CHECK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## read CSV

In [ ]:
#When saving a pandas.DataFrame to disk, use index=False like this:
#df.to_csv(path, index=False)

In [ ]:
csv1_akas=pd.read_csv("/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/2022_10_25_database_AKAS_region.csv",sep=';')

In [ ]:
print(csv1_akas.head(20).to_markdown())

|    |   Unnamed: 0 | titleId   | title                                                   | region   |
|---:|-------------:|:----------|:--------------------------------------------------------|:---------|
|  0 |            5 | tt0000001 | Carmencita                                              | US       |
|  1 |           14 | tt0000002 | The Clown and His Dogs                                  | US       |
|  2 |           22 | tt0000003 | Poor Pierrot                                            | GB       |
|  3 |           26 | tt0000004 | Un bon bock                                             | FR       |
|  4 |           33 | tt0000005 | Blacksmith Scene                                        | US       |
|  5 |           47 | tt0000006 | Chinese Opium Den                                       | US       |
|  6 |           51 | tt0000007 | Corbett and Courtney Before the Kinetograph             | US       |
|  7 |           64 | tt0000008 | Edison Kinetoscopic Record of a Sneeze, January 7, 1894 | US       |
|  8 |           74 | tt0000009 | Miss Jerry                                              | US       |
|  9 |           81 | tt0000010 | Exiting the Factory                                     | US       |
| 10 |          113 | tt0000012 | The Arrival of a Train                                  | US       |
| 11 |          142 | tt0000013 | The Photographical Congress Arrives in Lyon             | US       |
| 12 |          146 | tt0000014 | The Sprayer Sprayed                                     | US       |
| 13 |          171 | tt0000015 | Around a Bathing Hut                                    | US       |
| 14 |          185 | tt0000016 | Boat Leaving the Port                                   | US       |
| 15 |          195 | tt0000018 | Mr. Delaware and the Boxing Kangaroo                    | GB       |
| 16 |          196 | tt0000019 | The Clown Barber                                        | GB       |
| 17 |          200 | tt0000020 | The Derby 1895                                          | GB       |
| 18 |          201 | tt0000022 | The Blacksmiths                                         | US       |
| 19 |          221 | tt0000023 | The Sea                                                 | US       |

In [ ]:
csv1_akas.value_counts('region')

region
FR    3915639
US    1282476
GB     238571
dtype: int64

In [ ]:
csv2_basics =pd.read_csv('//content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/2022_10_19_database_BASICS_1980.csv', sep=';')

In [ ]:
print(csv2_basics.head().to_markdown())

|    | tconst    | titleType   | primaryTitle                | originalTitle               | isAdult   |   startYear |   endYear |   runtimeMinutes | genres                 |
|---:|:----------|:------------|:----------------------------|:----------------------------|:----------|------------:|----------:|-----------------:|:-----------------------|
|  0 | tt0036606 | movie       | Another Time, Another Place | Another Time, Another Place | False     |        1983 |       nan |              118 | ['Drama', 'War']       |
|  1 | tt0038687 | movie       | Let There Be Light          | Let There Be Light          | False     |        1980 |       nan |               58 | ['Documentary', 'War'] |
|  2 | tt0057461 | movie       | La rosa de los vientos      | La rosa de los vientos      | False     |        1983 |       nan |               84 | ['Drama', 'Fantasy']   |
|  3 | tt0062181 | movie       | Rece do góry                | Rece do góry                | False     |        1981 |       nan |               76 | ['Drama']              |
|  4 | tt0064820 | movie       | The Plot Against Harry      | The Plot Against Harry      | False     |        1989 |       nan |               81 | ['Comedy', 'Crime']    |

In [ ]:
print(csv2_basics.shape) #tested no duplication

(27595, 9)

## Basics - Drop of end Year

In [ ]:
del csv2_basics['endYear']

In [ ]:
del csv2_basics['isAdult']

In [ ]:
del csv2_basics['titleType']

## Merge the tables Akas and Basics : Like this we keep the languages of the movies in 1980s

In [ ]:
merge_basics_akas =  pd.merge(csv2_basics,csv1_akas, left_on = 'tconst', right_on = 'titleId',how = 'inner') #by default how = 'inner' you can change it how = 'left'

In [ ]:
print(merge_basics_akas.head().to_markdown())

|    | tconst    | primaryTitle                | originalTitle               |   startYear |   runtimeMinutes | genres                 |   Unnamed: 0 | titleId   | title                       | region   |
|---:|:----------|:----------------------------|:----------------------------|------------:|-----------------:|:-----------------------|-------------:|:----------|:----------------------------|:---------|
|  0 | tt0036606 | Another Time, Another Place | Another Time, Another Place |        1983 |              118 | ['Drama', 'War']       |       205761 | tt0036606 | Another Time, Another Place | US       |
|  1 | tt0038687 | Let There Be Light          | Let There Be Light          |        1980 |               58 | ['Documentary', 'War'] |       223439 | tt0038687 | Let There Be Light          | US       |
|  2 | tt0062181 | Rece do góry                | Rece do góry                |        1981 |               76 | ['Drama']              |       460449 | tt0062181 | Haut les mains!             | FR       |
|  3 | tt0064820 | The Plot Against Harry      | The Plot Against Harry      |        1989 |               81 | ['Comedy', 'Crime']    |       487287 | tt0064820 | The Plot Against Harry      | US       |
|  4 | tt0065530 | Le cercle des passions      | Le cercle des passions      |        1983 |              108 | ['Drama']              |       494185 | tt0065530 | Le cercle des passions      | FR       |

## Treatment of merge_basics_akas

We decided to keep the movies that their title is in FR, EN or the 'isOriginalTitle' = TRUE

In [ ]:
merge_basics_akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11145 entries, 0 to 11144
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          11145 non-null  object
 1   primaryTitle    11145 non-null  object
 2   originalTitle   11145 non-null  object
 3   startYear       11145 non-null  int64
 4   runtimeMinutes  10561 non-null  float64
 5   genres          11145 non-null  object
 6   Unnamed: 0      11145 non-null  int64
 7   titleId         11145 non-null  object
 8   title           11145 non-null  object
 9   region          11145 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 957.8+ KB

In [ ]:
print(merge_basics_akas.tail(20).to_markdown())

|       | tconst    | primaryTitle                                           | originalTitle                                          |   startYear |   runtimeMinutes | genres                            |   Unnamed: 0 | titleId   | title                                                  | region   |
|------:|:----------|:-------------------------------------------------------|:-------------------------------------------------------|------------:|-----------------:|:----------------------------------|-------------:|:----------|:-------------------------------------------------------|:---------|
| 11125 | tt9408114 | Revenge in the Great World                             | Fu chou da shi jie                                     |        1989 |               89 | ['Action', 'Drama']               |     32648102 | tt9408114 | Revenge in the Great World                             | US       |
| 11126 | tt9492214 | The Problem of Patty Melt                              | The Problem of Patty Melt                              |        1980 |              nan | ['Mystery']                       |     32809803 | tt9492214 | The Problem of Patty Melt                              | US       |
| 11127 | tt9558700 | Recent Sorrows                                         | Recent Sorrows                                         |        1984 |               80 | ['Drama']                         |     32928356 | tt9558700 | Recent Sorrows                                         | US       |
| 11128 | tt9569006 | Breaking Point                                         | Breaking Point                                         |        1980 |               51 | ['Documentary', 'Drama']          |     32944216 | tt9569006 | Breaking Point                                         | US       |
| 11129 | tt9586280 | Oklahoma Bound                                         | Oklahoma Bound                                         |        1981 |               92 | ['Comedy']                        |     32977741 | tt9586280 | Oklahoma Bound                                         | US       |
| 11130 | tt9600712 | Gold Pencil and Alien Boy                              | Hwanggeumnyeonpilgwa gaegujangi oegyesonyeon           |        1983 |               66 | ['Action', 'Animation', 'Family'] |     33007476 | tt9600712 | Gold Pencil and Alien Boy                              | US       |
| 11131 | tt9619962 | Hi-Tops                                                | Hi-Tops                                                |        1985 |              103 | ['Comedy', 'Musical']             |     33038902 | tt9619962 | Hi-Tops                                                | US       |
| 11132 | tt9646534 | Tricks of the Trade                                    | Tricks of the Trade                                    |        1980 |              nan | ['Comedy']                        |     33094400 | tt9646534 | Tricks of the Trade                                    | US       |
| 11133 | tt9657382 | Managing Problem People. Behavioral Skills for Leaders | Managing Problem People. Behavioral Skills for Leaders |        1988 |               93 | ['Comedy']                        |     33116723 | tt9657382 | Managing Problem People. Behavioral Skills for Leaders | GB       |
| 11134 | tt9670458 | The Gift of A-Fu                                       | A Fu de li wu                                          |        1984 |               95 | ['Drama']                         |     33143611 | tt9670458 | The Gift of A-Fu                                       | US       |
| 11135 | tt9686514 | The Hero in Northeast                                  | Guan dong da xia                                       |        1987 |               99 | ['Drama', 'War']                  |     33175068 | tt9686514 | The Hero in Northeast                                  | US       |
| 11136 | tt9689922 | Love Is Love                                           | Ai shi zuo gui ye ai                                   |        1986 |              100 | ['Comedy', 'Fantasy', 'Romance']  |     33183349 | tt9689922 | Love Is Love                                           | US       |
| 11137 | tt9799196 | Rough, Tough & Company                                 | Rough, Tough & Company                                 |        1980 |               80 | ['Action', 'Adventure', 'Comedy'] |     33400888 | tt9799196 | Rough, Tough & Company                                 | GB       |
| 11138 | tt9801096 | Perverted Fingers: Stop!                               | Ijôna yubi: yamete!                                    |        1980 |               64 | ['Drama']                         |     33403518 | tt9801096 | Perverted Fingers: Stop!                               | US       |
| 11139 | tt9823772 | A Small Gold Fish                                      | Xiao jin yu                                            |        1982 |               89 | ['Drama']                         |     33447306 | tt9823772 | A Small Gold Fish                                      | US       |
| 11140 | tt9828802 | Vaya luna de miel                                      | Vaya luna de miel                                      |        1980 |               93 | ['Adventure', 'Comedy']           |     33455005 | tt9828802 | What a Honeymoon                                       | US       |
| 11141 | tt9843632 | We Didn't Know Love During First Love                  | Chu lian shi, wo men bu dong ai qing                   |        1987 |               98 | ['Drama', 'Romance']              |     33483516 | tt9843632 | We Didn't Know Love During First Love                  | US       |
| 11142 | tt9844604 | Séduction                                              | Séduction                                              |        1984 |               70 | ['Drama']                         |     33484517 | tt9844604 | Séduction                                              | FR       |
| 11143 | tt9855210 | An Actress' Dream                                      | Yi ge nü yan yuan de meng                              |        1985 |               91 | ['Crime', 'Drama']                |     33504529 | tt9855210 | An Actress' Dream                                      | US       |
| 11144 | tt9899972 | Spring Comes Late                                      | Chi dao de chun tian                                   |        1980 |               81 | ['Drama']                         |     33583536 | tt9899972 | Spring Comes Late                                      | US       |

In [ ]:
del merge_basics_akas['titleId']

In [ ]:
del merge_basics_akas['title']

## Remove the index column after merging the 2 tables

In [ ]:
merge_basics_akas.drop(merge_basics_akas.filter(regex="Unname"),axis=1, inplace=True)

In [ ]:
print(merge_basics_akas.tail(20).to_markdown())

|       | tconst    | primaryTitle                                           | originalTitle                                          |   startYear |   runtimeMinutes | genres                            | region   |
|------:|:----------|:-------------------------------------------------------|:-------------------------------------------------------|------------:|-----------------:|:----------------------------------|:---------|
| 11125 | tt9408114 | Revenge in the Great World                             | Fu chou da shi jie                                     |        1989 |               89 | ['Action', 'Drama']               | US       |
| 11126 | tt9492214 | The Problem of Patty Melt                              | The Problem of Patty Melt                              |        1980 |              nan | ['Mystery']                       | US       |
| 11127 | tt9558700 | Recent Sorrows                                         | Recent Sorrows                                         |        1984 |               80 | ['Drama']                         | US       |
| 11128 | tt9569006 | Breaking Point                                         | Breaking Point                                         |        1980 |               51 | ['Documentary', 'Drama']          | US       |
| 11129 | tt9586280 | Oklahoma Bound                                         | Oklahoma Bound                                         |        1981 |               92 | ['Comedy']                        | US       |
| 11130 | tt9600712 | Gold Pencil and Alien Boy                              | Hwanggeumnyeonpilgwa gaegujangi oegyesonyeon           |        1983 |               66 | ['Action', 'Animation', 'Family'] | US       |
| 11131 | tt9619962 | Hi-Tops                                                | Hi-Tops                                                |        1985 |              103 | ['Comedy', 'Musical']             | US       |
| 11132 | tt9646534 | Tricks of the Trade                                    | Tricks of the Trade                                    |        1980 |              nan | ['Comedy']                        | US       |
| 11133 | tt9657382 | Managing Problem People. Behavioral Skills for Leaders | Managing Problem People. Behavioral Skills for Leaders |        1988 |               93 | ['Comedy']                        | GB       |
| 11134 | tt9670458 | The Gift of A-Fu                                       | A Fu de li wu                                          |        1984 |               95 | ['Drama']                         | US       |
| 11135 | tt9686514 | The Hero in Northeast                                  | Guan dong da xia                                       |        1987 |               99 | ['Drama', 'War']                  | US       |
| 11136 | tt9689922 | Love Is Love                                           | Ai shi zuo gui ye ai                                   |        1986 |              100 | ['Comedy', 'Fantasy', 'Romance']  | US       |
| 11137 | tt9799196 | Rough, Tough & Company                                 | Rough, Tough & Company                                 |        1980 |               80 | ['Action', 'Adventure', 'Comedy'] | GB       |
| 11138 | tt9801096 | Perverted Fingers: Stop!                               | Ijôna yubi: yamete!                                    |        1980 |               64 | ['Drama']                         | US       |
| 11139 | tt9823772 | A Small Gold Fish                                      | Xiao jin yu                                            |        1982 |               89 | ['Drama']                         | US       |
| 11140 | tt9828802 | Vaya luna de miel                                      | Vaya luna de miel                                      |        1980 |               93 | ['Adventure', 'Comedy']           | US       |
| 11141 | tt9843632 | We Didn't Know Love During First Love                  | Chu lian shi, wo men bu dong ai qing                   |        1987 |               98 | ['Drama', 'Romance']              | US       |
| 11142 | tt9844604 | Séduction                                              | Séduction                                              |        1984 |               70 | ['Drama']                         | FR       |
| 11143 | tt9855210 | An Actress' Dream                                      | Yi ge nü yan yuan de meng                              |        1985 |               91 | ['Crime', 'Drama']                | US       |
| 11144 | tt9899972 | Spring Comes Late                                      | Chi dao de chun tian                                   |        1980 |               81 | ['Drama']                         | US       |

In [ ]:
merge_basics_akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11145 entries, 0 to 11144
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          11145 non-null  object
 1   primaryTitle    11145 non-null  object
 2   originalTitle   11145 non-null  object
 3   startYear       11145 non-null  int64
 4   runtimeMinutes  10561 non-null  float64
 5   genres          11145 non-null  object
 6   region          11145 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 696.6+ KB

In [ ]:
merge_basics_akas.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/2022_10_25_database_AKAS_region_BASICS.csv',sep=';')