<a href="https://colab.research.google.com/github/AudreyMuller/Recommandation_Films_1980_s/blob/Maria/Rate_per_genres_exploded_2022_10_31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

#read CSV

In [2]:
df_ourmovies=pd.read_csv("/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/2022_10_19_database_BASICS_1980_explode.csv",sep=';')

In [3]:
df_ourmovies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",False,1983,NaN,118.0,Drama
1,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",False,1983,NaN,118.0,War
2,tt0038687,movie,Let There Be Light,Let There Be Light,False,1980,NaN,58.0,War
3,tt0057461,movie,La rosa de los vientos,La rosa de los vientos,False,1983,NaN,84.0,Drama
4,tt0057461,movie,La rosa de los vientos,La rosa de los vientos,False,1983,NaN,84.0,Fantasy

In [4]:
df_rating=pd.read_csv("/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/2022_10_26_RATINGS.csv",sep=';')

In [5]:
df_rating.drop(df_rating.filter(regex="Unname"),axis=1, inplace=True)

In [6]:
df_rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1920
1  tt0000002            5.8       260
2  tt0000003            6.5      1728
3  tt0000004            5.6       173
4  tt0000005            6.2      2541

## Merge movie database with ratings

In [7]:
df_ourmovies_rating=df_ourmovies.merge(df_rating, on='tconst',how='left')

In [8]:
df_ourmovies_rating.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",False,1983,NaN,118.0,Drama,6.5,326.0
1,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",False,1983,NaN,118.0,War,6.5,326.0
2,tt0038687,movie,Let There Be Light,Let There Be Light,False,1980,NaN,58.0,War,7.5,1893.0
3,tt0057461,movie,La rosa de los vientos,La rosa de los vientos,False,1983,NaN,84.0,Drama,4.6,22.0
4,tt0057461,movie,La rosa de los vientos,La rosa de los vientos,False,1983,NaN,84.0,Fantasy,4.6,22.0

In [9]:
df_ourmovies_rating["weight_average"]=(df_ourmovies_rating['averageRating']*df_ourmovies_rating['numVotes'])/(df_ourmovies_rating['numVotes'].sum())

In [10]:
df_ourmovies_rating["weight_average"]=df_ourmovies_rating["weight_average"].round(5)

In [11]:
df_ourmovies_rating.sort_values("weight_average",ascending=False,inplace=True)

In [12]:
df_ourmovies_rating

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,weight_average
793,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,The Empire Strikes Back,False,1980,NaN,124.0,Fantasy,8.7,1281945.0,0.07245
792,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,The Empire Strikes Back,False,1980,NaN,124.0,Adventure,8.7,1281945.0,0.07245
791,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,The Empire Strikes Back,False,1980,NaN,124.0,Action,8.7,1281945.0,0.07245
8248,tt0088763,movie,Back to the Future,Back to the Future,False,1985,NaN,116.0,Comedy,8.5,1192491.0,0.06585
8249,tt0088763,movie,Back to the Future,Back to the Future,False,1985,NaN,116.0,Sci-Fi,8.5,1192491.0,0.06585
...,...,...,...,...,...,...,...,...,...,...,...,...
43492,tt9866884,movie,Samsaram O Sangeetam,Samsaram O Sangeetam,False,1985,NaN,NaN,Drama,NaN,NaN,NaN
43493,tt9898368,movie,Langit Tidak Selalu Cerah,Langit Tidak Selalu Cerah,False,1981,NaN,NaN,Drama,NaN,NaN,NaN
43494,tt9899972,movie,Spring Comes Late,Chi dao de chun tian,False,1980,NaN,81.0,Drama,NaN,NaN,NaN
43495,tt9900354,movie,Anak Sulung Tujuh Keturunan,Anak Sulung Tujuh Keturunan,False,1982,NaN,NaN,Action,NaN,NaN,NaN
43496,tt9911750,movie,Chambu Gabale,Chambu Gabale,False,1989,NaN,131.0,Comedy,NaN,NaN,NaN

## Determine our film genres

Drama, Comedy, Action,Romance, Crime, Thriller, Adventure, Horror, Family,Fantasy, War, Mystery, Sci-Fi,Animation

In [ ]:
df_ourmovies_rating['genres'].value_counts()

## Adventure

In [ ]:
df_adventure = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Adventure') & (df_ourmovies_rating.originalTitle)]
df_top_adventure = df_adventure.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_adventure.rename(columns = {'primaryTitle':'Adventure Movies'},inplace = True)
df_top_adventure

## export csv for the top 10 adventure movies

In [157]:
df_top_adventure.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_adventure.csv',sep=',',index=False)

## Horror

In [ ]:
df_horror = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Horror') & (df_ourmovies_rating.originalTitle)]
df_top_horror = df_horror.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_horror.rename(columns = {'primaryTitle':'Horror Movies'},inplace = True)
df_top_horror

## export csv for the top 10 horror movies

In [158]:
df_top_horror.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_horror.csv',sep=',',index=False)

## Family

In [ ]:
df_family = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Family') & (df_ourmovies_rating.originalTitle)]
df_top_family = df_family.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_family.rename(columns = {'primaryTitle':'Family Movies'},inplace = True)
df_top_family

## export csv for the top 10 family movies

In [159]:
df_top_family.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_family.csv',sep=',',index=False)

## Fantasy

In [ ]:
df_fantasy = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Fantasy') & (df_ourmovies_rating.originalTitle)]
df_top_fantasy = df_fantasy.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_fantasy.rename(columns = {'primaryTitle':'Fantasy Movies'},inplace = True)
df_top_fantasy

## sxport csv for the top 10 fantasy movies

In [160]:
df_top_fantasy.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_fantasy.csv',sep=',',index=False)

## WAR

In [ ]:
df_war = df_ourmovies_rating[(df_ourmovies_rating.genres == 'War') & (df_ourmovies_rating.originalTitle)]
df_top_war = df_war.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_war.rename(columns = {'primaryTitle':'War Movies'},inplace = True)
df_top_war

## export csv for the top 10 war movies

In [161]:
df_top_war.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_war.csv',sep=',',index=False)

## Mystery

In [ ]:
df_mystery = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Mystery') & (df_ourmovies_rating.originalTitle)]
df_top_mystery = df_mystery.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_mystery.rename(columns = {'primaryTitle':'Mystery Movies'},inplace = True)
df_top_mystery

## export csv for the top 10 mystery movies

In [162]:
df_top_mystery.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_mystery.csv',sep=',',index=False)

## Sci-Fi

In [ ]:
df_scifi = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Sci-Fi') & (df_ourmovies_rating.originalTitle)]
df_top_scifi = df_scifi.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_scifi.rename(columns = {'primaryTitle':'Sci-Fi Movies'},inplace = True)
df_top_scifi

## export csv for the top 10 Sci-Fi movies

In [163]:
df_top_scifi.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_scifi.csv',sep=',',index=False)

## Animation

In [ ]:
df_animation = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Animation') & (df_ourmovies_rating.originalTitle)]
df_top_animation = df_animation.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_animation.rename(columns = {'primaryTitle':'Animation Movies'},inplace = True)
df_top_animation

## export csv for the top 10 animation mavies

In [164]:
df_top_animation.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_animation.csv',sep=',',index=False)

## Thriller

In [52]:
df_thriller = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Thriller') & (df_ourmovies_rating.originalTitle)]

In [ ]:
df_top_thriller = df_thriller.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_thriller.rename(columns = {'primaryTitle':'Thriller Movies'},inplace = True)
df_top_thriller

## export csv for the 10 top thriller movies

In [165]:
df_top_thriller.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_thriller.csv',sep=',',index=False)

## Crime

In [49]:
df_crime = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Crime') & (df_ourmovies_rating.originalTitle)]

In [ ]:
df_top_crime = df_crime.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_crime.rename(columns = {'primaryTitle':'Crime Movies'},inplace = True)
df_top_crime

## export csv for the top 10 crime movies

In [166]:
df_top_crime.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_crime.csv',sep=',',index=False)

## Romance

In [46]:
df_romance = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Romance') & (df_ourmovies_rating.originalTitle)]

In [ ]:
df_top_romance = df_romance.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_romance.rename(columns = {'primaryTitle':'Romance Movies'},inplace = True)
df_top_romance

## export csv for the top 10 romance movies

In [167]:
df_top_romance.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_romance.csv',sep=',',index=False)

## Comedy

In [43]:
df_comedy = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Comedy') & (df_ourmovies_rating.originalTitle)]

In [ ]:
df_top_comedy = df_comedy.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_comedy.rename(columns = {'primaryTitle':'Comedy Movies'},inplace = True)
df_top_comedy

## export csv for the top 10 comedy movies

In [168]:
df_top_comedy.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_comedy.csv',sep=',',index=False)

## DRAMA

In [39]:
df_drama = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Drama') & (df_ourmovies_rating.originalTitle)]

In [ ]:
df_top_drama = df_drama.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_drama.rename(columns = {'primaryTitle':'Drama Movies'},inplace = True)
df_top_drama

## export csv for the top 10 drama movies

In [169]:
df_top_drama.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_drama.csv',sep=',',index=False)

## Action

In [ ]:
df_action = df_ourmovies_rating[(df_ourmovies_rating.genres == 'Action') & (df_ourmovies_rating.originalTitle)]
df_action

In [ ]:
df_top_action = df_action.sort_values('weight_average', ascending=False).groupby('genres')['tconst','primaryTitle','weight_average'].head(10)
df_top_action.rename(columns = {'primaryTitle':'Action Movies'},inplace = True)
df_top_action

## export csv for the top 10 action movies

In [170]:
df_top_action.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_action.csv',sep=',',index=False)

## Create a dataframe with the top 10 movies for each category: the dataframe will contain the 'tconst','primaryTitle' and 'weight_average'
## we can use this for the machine learning maybe....

In [ ]:
import pandas as pd
from functools import reduce

# compile the list of dataframes you want to merge
data_frames = [df_top_adventure, df_top_drama, df_top_mystery, df_top_horror, df_top_crime, df_top_thriller, df_top_family, df_top_fantasy, df_top_animation, df_top_comedy, df_top_scifi, df_top_action, df_top_romance, df_top_war]


df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['tconst'],
                                            how='outer'), data_frames)
df_merged

In [ ]:
#data_frames = [df_top_adventure, df_top_drama, df_top_mystery, df_top_horror, df_top_crime, df_top_thriller, df_top_family, df_top_fantasy, df_top_animation, df_top_comedy, df_top_scifi, df_top_action, df_top_romance, df_top_war]
#data_frames = [df.set_index('tconst') for df in data_frames]
#data_frames[0].join(data_frames[1:])

In [ ]:
#df_list = [df_top_adventure, df_top_drama, df_top_mystery, df_top_horror, df_top_crime, df_top_thriller, df_top_family, df_top_fantasy, df_top_animation, df_top_comedy, df_top_scifi, df_top_action, df_top_romance, df_top_war]
#df = df_list[0]
#for df_ in df_list[1:]:
    #df = df.merge(df_, on='tconst')
#print(df)

In [ ]:
import pandas as pd
import glob
import os

# setting the path for joining multiple files
files = os.path.join("/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files","df_top*.csv")

# list of merged files returned
files = glob.glob(files)

print("Resultant CSV after joining all CSV files at a particular location...");

# joining files with concat and read_csv
df_top_rated_movied_of_all_genres = pd.concat(map(pd.read_csv, files), ignore_index=True)
print(df_top_rated_movied_of_all_genres.to_markdown())

## export csv with all top 10 movies per genre

In [175]:
df_top_rated_movied_of_all_genres.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/df_top_rated_movied_of_all_genres.csv',sep=',',index=False)

## top 10 movies per genre (using weight_average)

In [13]:
#We separate all genres in different categories in order to get the value counts
dummies = df_ourmovies_rating['genres'].str.get_dummies(sep='|')

final = pd.concat([df_ourmovies_rating, dummies], axis=1)
final

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,Crime,Drama,Family,Fantasy,Horror,Mystery,Romance,Sci-Fi,Thriller,War
793,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,The Empire Strikes Back,False,1980,NaN,124.0,Fantasy,8.7,...,0,0,0,1,0,0,0,0,0,0
792,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,The Empire Strikes Back,False,1980,NaN,124.0,Adventure,8.7,...,0,0,0,0,0,0,0,0,0,0
791,tt0080684,movie,Star Wars: Episode V - The Empire Strikes Back,The Empire Strikes Back,False,1980,NaN,124.0,Action,8.7,...,0,0,0,0,0,0,0,0,0,0
8248,tt0088763,movie,Back to the Future,Back to the Future,False,1985,NaN,116.0,Comedy,8.5,...,0,0,0,0,0,0,0,0,0,0
8249,tt0088763,movie,Back to the Future,Back to the Future,False,1985,NaN,116.0,Sci-Fi,8.5,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43492,tt9866884,movie,Samsaram O Sangeetam,Samsaram O Sangeetam,False,1985,NaN,NaN,Drama,NaN,...,0,1,0,0,0,0,0,0,0,0
43493,tt9898368,movie,Langit Tidak Selalu Cerah,Langit Tidak Selalu Cerah,False,1981,NaN,NaN,Drama,NaN,...,0,1,0,0,0,0,0,0,0,0
43494,tt9899972,movie,Spring Comes Late,Chi dao de chun tian,False,1980,NaN,81.0,Drama,NaN,...,0,1,0,0,0,0,0,0,0,0
43495,tt9900354,movie,Anak Sulung Tujuh Keturunan,Anak Sulung Tujuh Keturunan,False,1982,NaN,NaN,Action,NaN,...,0,0,0,0,0,0,0,0,0,0
43496,tt9911750,movie,Chambu Gabale,Chambu Gabale,False,1989,NaN,131.0,Comedy,NaN,...,0,0,0,0,0,0,0,0,0,0

## Determine the top rated movie(by weight_average) for each genre

In [ ]:
top_rated_genre = df_ourmovies_rating.sort_values('weight_average', ascending=False).groupby('genres')['primaryTitle','weight_average'].first()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
top_rated_genre

                                             primaryTitle  weight_average
genres
Action     Star Wars: Episode V - The Empire Strikes Back         0.07245
Adventure  Star Wars: Episode V - The Empire Strikes Back         0.07245
Animation                              My Neighbor Totoro         0.01775
Comedy                                 Back to the Future         0.06585
Crime                                            Scarface         0.04497
Drama                                         The Shining         0.05522
Family                                 The Princess Bride         0.02217
Fantasy    Star Wars: Episode V - The Empire Strikes Back         0.07245
Horror                                        The Shining         0.05522
Mystery                                         The Thing         0.02249
Romance                                   Cinema Paradiso         0.01437
Sci-Fi                                 Back to the Future         0.06585
Thriller                                         Die Hard         0.04642
War                                     Full Metal Jacket         0.03984

## export csv for the top rated movie(by weight_average) for each genre

In [ ]:
top_rated_genre.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/2022_10_31_top_rated_movie_per_genre.csv',sep=',',index=False)

## Average movie duration per genre

In [ ]:
df_avg_duration_genres = df_ourmovies_rating.groupby('genres').runtimeMinutes.mean()

In [ ]:
print(df_avg_duration_genres)

genres
Action       101.666667
Adventure     94.983093
Animation     80.804196
Comedy        95.048610
Crime         99.434187
Drama        101.221017
Family        94.349562
Fantasy       94.121547
Horror        90.902487
Mystery       98.769448
Romance      103.046749
Sci-Fi        92.190547
Thriller      97.925428
War          103.648609
Name: runtimeMinutes, dtype: float64

## export csv for average movie duration per genre

In [ ]:
df_avg_duration_genres.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/00_CSV_files/2022_10_31_avg_duration_genres.csv',sep=',',index=False)