<a href="https://colab.research.google.com/github/AudreyMuller/Recommandation_Films_1980_s/blob/Maria/table_title_akas19_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We can use a **group by** to display the titles per region
So that way we can see which titles where used in which regions

In [ ]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

## READ CSV

In [ ]:
df_akas=pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz',sep='\t')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## REPLACE \N and DROP LINES \N

In [ ]:
## Remplace the \N by None 
df_akas.replace({r'\N': None},inplace =True)

In [ ]:
#drop \N in some columns
df_akas.dropna(how = 'all',subset = ['title','region','language','types','isOriginalTitle'], inplace=True)

In [ ]:
del df_akas['attributes']

In [ ]:
del df_akas['isOriginalTitle']

In [ ]:
del df_akas['types']

In [ ]:
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33616065 entries, 0 to 33616064
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   titleId   object
 1   ordering  int64
 2   title     object
 3   region    object
 4   language  object
dtypes: int64(1), object(4)
memory usage: 1.5+ GB

## We decided to keep the movies that their title is in FR, EN or the 'isOriginalTitle' = TRUE

In [ ]:
condition= df_akas.region.isin(['US', 'FR','GB'])
df_region_filtered = df_akas[condition]
print(df_region_filtered.head(20).to_markdown())

|    | titleId   |   ordering | title                                                     | region   | language   |
|---:|:----------|-----------:|:----------------------------------------------------------|:---------|:-----------|
|  5 | tt0000001 |          6 | Carmencita                                                | US       |            |
|  9 | tt0000002 |          2 | Le clown et ses chiens                                    | FR       |            |
| 14 | tt0000002 |          7 | The Clown and His Dogs                                    | US       |            |
| 22 | tt0000003 |          7 | Poor Pierrot                                              | GB       |            |
| 23 | tt0000003 |          8 | Pauvre Pierrot                                            | FR       |            |
| 26 | tt0000004 |          2 | Un bon bock                                               | FR       |            |
| 33 | tt0000005 |         10 | Blacksmith Scene                                          | US       |            |
| 35 | tt0000005 |         12 | The Blacksmith's Forge                                    | GB       |            |
| 36 | tt0000005 |          1 | Blacksmithing Scene                                       | US       |            |
| 40 | tt0000005 |          5 | Blacksmith Shop                                           | GB       |            |
| 41 | tt0000005 |          6 | Blacksmith Scene #1                                       | US       |            |
| 42 | tt0000005 |          7 | Blacksmithing                                             | US       |            |
| 47 | tt0000006 |          3 | Chinese Opium Den                                         | US       |            |
| 51 | tt0000007 |          1 | Corbett and Courtney Before the Kinetograph               | US       |            |
| 55 | tt0000007 |          5 | The Corbett-Courtney Fight                                | US       |            |
| 56 | tt0000007 |          6 | Jim Corbett vs. Peter Courtney                            | US       |            |
| 64 | tt0000008 |          3 | Edison Kinetoscopic Record of a Sneeze, January 7, 1894   | US       |            |
| 65 | tt0000008 |          4 | Edison Kinetoscopic Record of a Sneeze                    | US       |            |
| 69 | tt0000008 |          8 | The Films of Thomas A Edison presented by Raymond Rohauer | US       |            |
| 74 | tt0000009 |          4 | Miss Jerry                                                | US       |            |

In [ ]:
df_region_filtered.sort_values(['titleId', 'region'],ascending = [True, False],inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
df_region_filtered['region'].value_counts()

FR    4011959
US    1362165
GB     422822
Name: region, dtype: int64

In [ ]:
df_akas_region=df_region_filtered.drop_duplicates(subset = 'titleId')

In [ ]:
df_akas_region['region'].value_counts()

FR    3915639
US    1282476
GB     238571
Name: region, dtype: int64

In [ ]:
del df_akas_region['language']

In [ ]:
del df_akas_region['ordering']

In [ ]:
df_akas_region.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/MMA/2022_10_25_database_AKAS_region.csv',sep=';')